body{
    
    background-color: lightblue;
}
.dhana{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 505px;
    background: white;
    border-radius: 15px;
    
}
.dhana h1{
    
    text-align: center;
    padding: 0 0 10px 0;
    border-bottom: 1px solid silver;
    
}
.dhana form{
    padding: 0 40px;
    box-sizing: border-box;
}
form .sekhar{

    margin: 15px 0;
    position: relative;
    border-bottom: 1px solid black;
    
}
form .sekhar:hover{
    text-decoration: underline;
    color: blue;

}
form .sekha{

    margin: 15px 0;
    position: relative;
    border-bottom: 1px solid black;
    color: #adadad;
}
.sekhar input{
    width: 100%;
    padding: 0 2px;
    height: 20px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
    transition: .5s;

}
form .sekhar:hover{

    color: blue;
}
.sekhar label{
    position: absolute;
    top: 50;
    left: 50;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 15px;
    pointer-events: none;
}
form .sekha:hover{

    color: blue;
}
.pass{
    margin: -5px 0 20px 5px;
    color: #adadad;
    cursor: pointer;
}
.pass:hover{
    text-decoration: underline;
    color: blue;

}
input[type="submit"]{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #2691d9;
    border-radius: 25px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    outline:  none;
}
input[type="submit"]:hover{
    background-color: blue;
    transition: .5s;
}
.signup_link{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #666666;
}
.signup_link a{
    color: #2691d9;
    text-decoration: none;
}
.signup_link a:hover{
    text-decoration: underline;
    
}