*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.loginform{
    width: 350px;
    top: 50%;
    left: 50%;
    transform: translate(-190%,-50%);
    position: absolute;
    
}
.loginform h1{
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    margin: 40px 0;
}
.loginform p{
    font-size: 20px;
    margin: 15px 0;
}
.loginform input{
    font-size: 16px;
    width: 100%;
    padding: 15px 10px;
    border: 0px;
    outline: none;
    border-radius: 15px;
}
.loginform button{
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0px;
    padding: 10PX 15PX;
    width: 50%;
    border-radius: 30PX;
    cursor: pointer;
}
.loginform button:hover{
    background-color: blue;
    transition: .5s;
}