@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
	margin: 0;
	padding:0;
	box-sizing:border-box;
	font-family: 'Poppins', sans-serif;
}

h2{
	text-align:center;
	padding-top:80px;
	
}

a,a:hover,a:focus{
	text-decoration:none;
	outline:none;
}

li{
	list-style:none;
	display:inline-block;
}



.header{
	background-color:#fff;
	box-shadow:0px 5px 10px rgba(91,91,91,0.1);
}

.header_logo{
	padding:26px 0;
	text-align:center;
}

.header_logo a{
	display:inline-block;
	color:#8AA9DC,#fff;
	font-size:27px;
	text-transform:uppercase;
	font-weight:700;
	letter-spacing:3px;
}

.header_logo a span{
	color:#ff7200;
	font-size:32px;
	font-weight:700;
}	

.header_menu{
	padding: 30px 0 27px;
	text-align: center;
}

.header_menu ul li{
	position:relative;
	display:inline-block;
	margin-right:30px;
}

.header_menu ul li a{
	color:#0505AB;
	font-size:17px;
	font-weight:500;
	display:block;
	padding:2px 0;
	position:relative;
}

.header_menu ul li a:after{
	position:absolute;
	content: '';
	left:0;
	bottom:0;
	width:100%;
	height: 2px;
	background-color:#ff7200;
	transition:all 0.5s;
	transform:scale(0);
}

.header_menu ul li:hover a:after{
	transform:scale(1);
}

.header_menu ul li.active a:after{
	transform:scale(1);
}
.header_menu ul li:last-child{
	margin-right:0;
}
.header_right{
	text-align:center;
	padding:30px 0 27px;
}

.header_right .header_right_auth{
	display:inline-block;
	margin-right:25px;
}

.header_right .header_right_auth a{
	font-size:15px;
	color:#666666;
	position:relative;
	margin-right:13px;
}

.header_right .header_right_auth a:last-child{
	margin-right:0;
}

.header_right .header_right_auth a:after{
	position:absolute;
	right:-12px;
	top:2px;
	content:'/';
	font-size:16px;
}

.header_right .header_right_auth a:last-child:after{
	display:none;
}

.container1{
	width:680px;
	height:680px;
	border : none;
	padding-top:50px;
	padding-left:20px;
	padding-right:20px;
	margin-bottom:150px;
	margin-top:30px;
	margin-left:450px;
	margin-right:150px;
}





.owl-theme .owl-dots .owl-dot span{
	width:20px;
	height:20px;
	margin:5px 7px;
	background:#ff7200;
}

.owl-theme .owl-nav.disabled+.owl-dots{
	margin-top:50px;
}


.footer {
	background-color:#0099CC;
	height:350px;
	width:1518px;
}

.footer .footer_about{
	margin-bottom:30px;
}

.footer .footer_about p{
	margin-bottom:20px;
	padding-right:80px;
}

.footer .footer_logo{
	margin-bottom:20px;
}

.footer .footer_logo a{
	font-size:35px;
	color:#ff7200;
}

.footer .footer_logo a span{
	font-size:25px;
	color:blue;
	font-weight:700;
}

.footer .footer_widget{
	margin-bottom:30px;
}

.footer .footer_widget h6{
	color:#111;
	font-weight:600;
	text-transform:uppercase;
	margin-bottom:12px;
}

.footer .footer_widget ul li{
	list-style:none;
	display:block;
}

.footer .footer_widget ul li a{
	font-size:14px;
	color:#C5C5C5;
	line-height:30px;
}

.footer .footer_widget ul li a:hover{
	color:#ff7200;
	transition:all 1s;
}

.footer .footer_social a{
	height:40px;
	width:40px;
	display:inline-block;
	background-color:#ff7200;
	font-size:15px;
	color:#fff;
	line-height:40px;
	text-align:center;
	border-radius:10%;
	margin-right:6px;
	margin-bottom:5px;
	transition : all 0.5s;
}

.footer .footer_social a:hover{
	background-color:#B2B2B2;
	transition:all 0.5s;
}

.footer .footer_social a:last-child{
	margin-right:0;
}

.footer_bottom{
	background-color:#f4f4f4;
}
	
.footer_bottom a{
	color:#ff7200;
}




