*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;

 }
 .first{
	 text-align:center;
	 color:blue;
 }
 .first h3{
	 font-size:40px;
	 font-style:italic;
	 
 }
.data{
	display:flex;
	width: 100%;
	text-align:left;
}
.data1{
	
	flex: 1;
	border:0px;
	margin:5px;
}
.data12{
	margin-right: 20px;
	
}
.data1 p{
	font-size:23px;
	text-align:left;
}
.data12 p{
	font-size:23px;
	text-align:right;
}
.second p{
	font-size:25px;
	text-align:center
}
.second h2{
	font-size:25px;
	text-align:center;
	color:red;
}