 *{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
a,a:hover,a:focus{
	text-decoration:none;
	outline:none;
}

li{
	list-style:none;
	display:inline-block;
}



.header{
	background-color:#dc948a;
	box-shadow:0px 5px 10px rgba(91,91,91,0.1);
}

.header_logo{
	padding:26px 0;
	text-align:center;
}

.header_logo a{
	display:inline-block;
	color:#ffff00,#ffff00;
	font-size:27px;
	text-transform:uppercase;
	font-weight:700;
	letter-spacing:3px;
}

.header_logo a span{
	color:ffff00;
	font-size:32px;
	font-weight:700;
}	

.header_menu{
	padding: 30px 0 27px;
	text-align: center;
}

.header_menu ul li{
	position:relative;
	display:inline-block;
	margin-right:30px;
}

.header_menu ul li a{
	color:#ffff00;
	font-size:17px;
	font-weight:500;
	display:block;
	padding:2px 0;
	position:relative;
}

.header_menu ul li a:after{
	position:absolute;
	content: '';
	left:0;
	bottom:0;
	width:100%;
	height: 2px;
	background-color:#ff7200;
	transition:all 0.5s;
	transform:scale(0);
}

.header_menu ul li:hover a:after{
	transform:scale(1);
}

.header_menu ul li.active a:after{
	transform:scale(1);
}
.header_menu ul li:last-child{
	margin-right:0;
}
.header_right{
	text-align:center;
	padding:30px 0 27px;
}

.header_right .header_right_auth{
	display:inline-block;
	margin-right:25px;
}

.header_right .header_right_auth a{
	font-size:17px;
	color:#666666;
	position:relative;
	margin-right:13px;
}

.header_right .header_right_auth a:last-child{
	margin-right:0;
}

.header_right .header_right_auth a:after{
	position:absolute;
	right:-12px;
	top:2px;
	content:'/';
	font-size:16px;
}

.header_right .header_right_auth a:last-child:after{
	display:none;
}
body{
background-size: cover;
}

.loginform{
    width: 350px;
    top: 50%;
    left: 50%;
    transform: translate(-160%,-50%);
    position: absolute;
    
}
.loginform h1{
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    margin: 40px 0;
}
.loginform p{
    font-size: 20px;
    margin: 15px 0;
}
.loginform input{
    font-size: 16px;
    width: 100%;
    padding: 15px 10px;
    border: 0px;
    outline: none;
    border-radius: 15px;
}
.loginform button{
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0px;
    padding: 10PX 15PX;
    width: 50%;
    border-radius: 30PX;
    cursor: pointer;
}
.loginform button:hover{
    background-color: blue;
    transition: .5s;
}
.social
{
  
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: #2691d9;
  border-radius: 25px;
  font-size: 18px;
  color: white;
  cursor: pointer;
  text-align: center;
  
  background: linear-gradient(135deg,#71b7e6,#9b59b6);
}

ul{
	float: center;
  list-style-type: none;
  margin-top: 10px;
  height: 0px;


}

ul li a{
	text-decoration: none;
}
ul li a:hover{
  
  color:greenyellow;


}