*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}a,a:hover,a:focus{
	text-decoration:none;
	outline:none;
}

li{
	list-style:none;
	display:inline-block;
}

body{
     background: linear-gradient(135deg,#71b7e6,#9b59b6);
    
}

.header{
	background-color:#fff;
	box-shadow:0px 5px 10px rgba(91,91,91,0.1); 
    background: linear-gradient(135deg,#71b7e6,#9b59b6);
    
} 

.header_logo{
	padding:26px 0;
	text-align:center;
}

.header_logo a{
	display:inline-block;
	color:#8AA9DC,#fff;
	font-size:27px;
	text-transform:uppercase;
	font-weight:700;
	letter-spacing:3px;
}

.header_logo a span{
	color:ff7200;
	font-size:32px;
	font-weight:700;
}	

.header_menu{
	padding: 30px 0 27px;
	text-align: center;
}

.header_menu ul li{
	position:relative;
	display:inline-block;
	margin-right:30px;
}

.header_menu ul li a{
	color:#0505AB;
	font-size:17px;
	font-weight:500;
	display:block;
	padding:2px 0;
	position:relative;
}

.header_menu ul li a:after{
	position:absolute;
	content: '';
	left:0;
	bottom:0;
	width:100%;
	height: 2px;
	background-color:#ff7200;
	transition:all 0.5s;
	transform:scale(0);
}

.header_menu ul li:hover a:after{
	transform:scale(1);
}

.header_menu ul li.active a:after{
	transform:scale(1);
}
.header_menu ul li:last-child{
	margin-right:0;
}
.header_right{
	text-align:center;
	padding:30px 0 27px;
}

.header_right .header_right_auth{
	display:inline-block;
	margin-right:25px;
}

.header_right .header_right_auth a{
	font-size:17px;
	color:#666666;
	position:relative;
	margin-right:13px;
}

.header_right .header_right_auth a:last-child{
	margin-right:0;
}

.header_right .header_right_auth a:after{
	position:absolute;
	right:-12px;
	top:2px;
	content:'/';
	font-size:16px;
}

.header_right .header_right_auth a:last-child:after{
	display:none;
}


.container{
    max-width: 710px;
    width: 100%;
    background: white;
    padding: 25px 30px;
    border-radius: 5px;

}
.container .title{
    font-size: 25px;
    font-size: 500;
    position: relative;
}
.container .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: linear-gradient(135deg,#71b7e6,#9b59b6);
    
}
.container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}
.user-details .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color: #9b59b6;
}
form .gender-details .gender-title{
    font-size: 20px;
    font-weight: 500;
}
form .gender-details .category{
    display: flex;
    width: 30%;
    margin: 14px 0;
    justify-content: space-between;
}
.gender-details .category label{
    display: flex;
    align-items: center;

}
.gender-details .category .dot{
    height: 18px;
    width: 18px;
    background: #d9d9d9;
    border-radius: 50%;
    margin-right: 10px;
    border: 5px solid transparent;transition: all 0.3s ease;
}
#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two{
    border-color: #d9d9d9;
    background: #9b59b6;
}
form input[type="radio"]{
    display: none;
}
form .button{
    height: 45px;
    margin: 45px 0;
}
form .button input{
    height: 100%;
    width: 100%;
    outline: none;
    cursor: pointer;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    background: linear-gradient(135deg,#71b7e6,#9b59b6);
}
form .button input:hover{
    background: linear-gradient(135deg,#71b7e6,#9b59b6);
}
@media (max-width:584px) {
    .container{
        max-width: 100%;
    }
    form .user-details .input-box{
        margin-bottom: 15px;
        width: 100%;
    }
    form .gender-details .category{
        width: 100%;
    }
    .container form .user-details{max-height: 300px;
    overflow-y: scroll;
    }
    .user-details::-webkit-scroll-bar{
        width: 0;
    }
}
.social
{
  
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: #2691d9;
  border-radius: 25px;
  font-size: 18px;
  color: white;
  cursor: pointer;
  text-align: center;
  
  background: linear-gradient(135deg,#71b7e6,#9b59b6);
}

ul{
	float: center;
  list-style-type: none;
  margin-top: 10px;
  height: 0px;


}

ul li a{
	text-decoration: none;
}
ul li a:hover{
  
  color:greenyellow;


}